nav{
    width: 80%;
}

aside{
    width: 20%;
    height: 100%;
    position: absolute;
    margin-right: 2px solid white;
}

section{
    width: 80%;
    position: relative;
}

article{
    background-color: lightgrey;
}

.pagos{
    width: 48%;
    height: 19%;
    float: left;
}

.cobros{
    width: 48%;
    height: 19%;
    float: right;
}

th{
    border-bottom: 2px solid gray;
    height: 30px;
    width: 33%;
}

/* tr{
    border-bottom: 3px groove green;
    border-top: 3px groove green;
} */